<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="Page_Main.css" />
  </head>

  <body style="display: flex; flex-direction: column;" class="page-main root">
    <div>
      <div class="rect11"></div>
      <h4 class="z1">Главная</h4>
      <h4 class="z2">Избранные</h4>
      <h4 class="z3">Каталог</h4>
      <img class="im1" src="4dbe277dde3e41a3183ddc10c2c6bf28.png" />
      <img class="im2" src="d0dd1b1b7d8f073c95183718076ffd6c.png" />

      <img class="cover" src="2574bb2f78d11533aa713652a42eec79.png"/>
      <h1 class="tit">Наши гостиницы - ваш дом вдали от дома</h1>
      <div class="grid1">

        <div class="i2">
          <div class="fc2">
            <h4 class="hi1">Место</h4>
            <div class="text">Название города или гостиницы</div>
          </div>
        </div>

        <div class="i3">
          <div class="fc3">
            <h4 class="hi1">Дни пребывания</h4>
            <div class="text">Прибытие - Отъезд</div>
          </div>
        </div>

        <div class="i3">
          <div class="fr1">
            <div class="fc4">
              <h4 class="hi1">Гости</h4>
              <div class="t2">1</div>
            </div>
            <img class="im7" src="97bae560bd0cf35b0c514b86aa6598a9.svg" />
            <div class="fc5">
              <h4 class="hi1">Комната</h4>
              <div class="t3">1</div>
            </div>
          </div>
        </div>


        <button class="but">Поиск</button>
      </div>


      <h1 class="t1">Выберите категорию под свой вкус!</h1>
      <h1 class="title">Рядом с пляжем</h1>








      <div class="grid">
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle">Delux Sea View Aparthotel in Orbi</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" />
                <div class="info">от 324 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle" >Batumi, Sherif Khimshiashvili 7a</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" />
                <div class="info">от 492 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle" >Luxury Aparthotel orbi in sea</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" alt="alt text" />
                <div class="info">от 423 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      
      <h1 class="title2">В городе</h1>
      <div class="grid2">
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle">Delux Sea View Aparthotel in Orbi</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" />
                <div class="info">от 324 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle" >Batumi, Sherif Khimshiashvili 7a</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" />
                <div class="info">от 492 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle" >Luxury Aparthotel orbi in sea</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" alt="alt text" />
                <div class="info">от 423 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      
      <h1 class="title3">Популярные</h1>
      <div class="grid3">
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle">Delux Sea View Aparthotel in Orbi</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" />
                <div class="info">от 324 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle" >Batumi, Sherif Khimshiashvili 7a</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" />
                <div class="info">от 492 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle" >Luxury Aparthotel orbi in sea</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" alt="alt text" />
                <div class="info">от 423 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      
      






      <h1 class="title4">Новые</h1>
      <div class="grid4">
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle">Delux Sea View Aparthotel in Orbi</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" />
                <div class="info">от 324 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle" >Batumi, Sherif Khimshiashvili 7a</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" />
                <div class="info">от 492 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="item" style="--src:url(a0eee7de7dafc64c24a1d75e52374139.png)">
          <div class="group">
            <div class="rect1"></div>
            <div class="flex_col">
              <h3 class="subtitle" >Luxury Aparthotel orbi in sea</h3>
              <div class="flex_row">
                <img class="image1" src="7ab5a84a132c60f04d31429461ec430d.svg" alt="alt text" />
                <div class="info">от 423 BYN</div>
              </div>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      
      







      
      <div class="r2"></div>

      <div class="fc9">
        <h5 class="ht4">Главная</h5>
        <h5 class="ht4" style=" margin: 27px 0px 0px;">Гостиницы</h5>
        <h5 class="ht4" style="margin: 26px 0px 0px;">Личный кабинет</h5>
      </div>

      <div class="fc8">
        <img class="img1" src="548b7ba551de3f404d107ba52b08d8f2.svg" />
        <img class="img15" src="a99e2ae1064a154b5c9ba9d59a498dd2.svg" />
        <img class="img15" style="margin: 1px 0px -2px;" src="d18e85475dc11b88e01ba122f0b61a55.svg" />
      </div>

      
      <div class="fc7">
        <h5 class="ht4">+375 -- --- -- --</h5>
        <h5 class="ht4" style="margin: 30px 0px 0px;">+375 -- --- -- --</h5>
        <h5 class="ht4" style="margin: 23px 0px 0px;">Телеграм-бот Sowi</h5>
      </div>

      <div class="flex_col6">
        <div class="fr2">
          <img class="im12" src="1ebeabf66ab901634419832916f34759.svg" />
          <h5 class="ht4" style="margin: 0px 0px 4px;">soweomi@gmail.com</h5>
        </div>
        <img class="im18" src="c27492424f1f42d271aaed5f3a07dc93.svg" />
      </div>


      
      
    </div>
  </body>
</html>
